@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:antiquewhite;">
    <h1 style="font-family:'Footlight MT'; font-size:72px;">Tracer's Café</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <h2 style="font-family: Verdana; align-content:center; padding-bottom: 15px;">Welcome to Tracer's Café</h2>
        <p style="font-family:'Segoe UI'; font-size:18px;">
            Tracer's Café is a premier and authentic Café that has been proudly serving the communities since 2020.
            Since then, our mission has been to provide high-quality beverages for all those that wish to combine fun and
            enjoyable ambiance with skillful cooking into one extraordinary dining experience.
        </p>
        <p style="font-family:'Segoe UI'; font-size:18px;">
            We believe coffee can be a force for good. We believe in environmentally sustainable and ethically traded coffee. 
            Our ethical trading principles ensure that our successes benefit the entire supply chain and beyond, from direct 
            initiatives at origin to local communities here in the UK.
        </p>
        <p style="font-family:'Segoe UI'; font-size:18px;">
            Great coffee doesn’t have to be complicated. We do the hard work so you can enjoy a great tasting cup every time, 
            confident that the coffee you chose to drink has a real and positive impact.
        </p>
    </div>
    <div class="col-md-4" style="padding:15px;">
        <img src="https://data.whicdn.com/images/331741493/original.png" alt="Coffee" width="325" height="350">
    </div>
</div>